@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Please login to start</h3>
    <h3>And then click on the Home button</h3>
</div>
